#header {
    background-color: #79a9d1;
    color: white;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#addTrain {
    padding-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    align-content: center;
    background-color: #7D8CA3;
    margin-bottom: 10px;
}

.font-weight-bold {
    margin-bottom: 5px;
}

.btn {
    width: 100%;
}